.container {
  h1 {
    text-align: center;
    padding: 1rem 0;
  }
}

.table {
  color: var(--secondary);
  margin: 0 auto;
  border-collapse: collapse;
  width: 80%;

  .header {
    border: 1px solid var(--yellow);
  }

  th {
    color: var(--yellow);
  }
  td,
  th {
    border: 1px dashed var(--secondary);
    text-align: left;
    padding: 8px;
  }
}
